# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
    - List popular languages for Data Science
    - List popular libraries for Data Science
    - List Data Science tools
    - Introduce arithmetic expression examples

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [7]:
min=200
h=200/60
print (h)

3.3333333333333335

## Author
Regina Temi√±o Boes